<footer>
  <section class="social">
    <ul>
      <li>
        <a href="https://twitter.com/avbllackwell" class="">
                <span>Twitter</span>
              </a>
      </li>

      <li>
        <a href="https://github.com/avblackwell" class="">
                <span>GitHub</span>
              </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/avblackwell/" class="">
                <span>LinkedIn</span>
              </a>
      </li>

    </ul>
  </section>
  <section class="credits">
    <p>Made with <a href="https://www.11ty.dev/">Eleventy</a>, deployed on <a href="https://www.netlify.com/">Netlify</a>.
        </p>
  </section>
</footer>