<footer>
  <section class="social">
    <ul>
      <li>
        <a href="https://twitter.com/avbllackwell" class="highlighted-text-primary" style="--color-selection-bg: var(--color-twitter);">
                Twitter
              </a>
      </li>

      <li>
        <a href="https://github.com/avblackwell" class="highlighted-text-primary" style="--color-selection-bg: var(--color-github);">
                GitHub
              </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/avblackwell/" class="highlighted-text-primary" style="--color-selection-bg: var(--color-linkedin);">
                LinkedIn
              </a>
      </li>

    </ul>
  </section>
  <section class="credits">
    <p>Made with <a href="https://www.11ty.dev/">Eleventy</a>, deployed on <a href="https://www.netlify.com/">Netlify</a>.
        </p>
  </section>
</footer>