<header class="block large main-header">
    <h1 class="home">
        <a href="/" class="highlighted-text-secondary">
          <span>Alex V. Blackwell</span>
        </a>
    </h1>
    <nav>
        <ul class="nav">

            <li>
                <a href="/" class="nav-item">About</a>
            </li>

            <li>
                <a href="/projects" class="nav-item">Projects</a>
            </li>

            <li>
                <a href="mailto:alexvblackwell@gmail.com">Contact</a> 
            </li>

        </ul>
    </nav>
</header>

