<header class="block large main-header">
    <h1 class="home">
        <a href="/" class="highlighted-text-secondary">
          Alex V. Blackwell
        </a>
    </h1>
    <nav>
        <ul class="nav">

            <li>
                <a href="/" class="nav-item">About</a>
            </li>

            <li>
                <a href="/blog" class="nav-item">Blog</a>
            </li>

            <li>
                <a href="/projects" class="nav-item">Projects</a>
            </li>

            <li>
                <a href="/" class="nav-item">Contact</a>
            </li>

        </ul>
    </nav>
</header>

