<li>
    <article class="snippet">
        <img src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}" class="snippet__image">
        <h3 class="snippet__title">
            <a href="{{ project.url }}">{{ project.data.title }}</a>
        </h3>
        <p class="snippet__meta"> Tech: <span>{{ project.data.tech }}</span></p>
        <p class="snippet__body">
            {{ project.data.description }}
        </p>
        <div class="flex-group">
            <a href="{{ project.data.live }}" target="_blank" class="btn btn--primary"
            >Live View</a
          >
            <a href="{{ project.data.repo }}" class="btn btn--neutral"
            >GitHub Repo</a
          >
        </div>
    </article>
</li>