<li class="post-item">
    <p class="title">
        <a href="{{ project.url }}" class="post-link">
            {{ project.data.title }}
        </a>
    </p>
    <p>{{ project.data.tech }}</p>
    <p>{{ project.data.description }}</p>
</li>