<li class="post-item">
    <p>
        <time class="postlist-date" datetime="2021-03-22T18:17:17.053Z">
          {{ post.date | postDate }}
        </time>
    </p>
    <p class="title">
        <a href="{{ post.url }}" class="post-link">
            {{ post.data.title }}
        </a>
    </p>
</li>