/* Reset */
@import url("reset.css");

:root {
    --background-color: #04588C;
    --primary-text-color: #F2F2F2;
    --secondary-text-color: #f2f2f2;
    --link-text-color: #F2F2F2;

    --face-size: 256px;
    --face-offset: calc(var(--face-size) / 2);
    --face-offset-reverse: calc((var(--face-size) / 2) * -1);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.0rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--primary-text-color);

    background-color: var(--background-color);
    perspective: 1000px;
    perspective-origin: 50% 100px;
    transition: perspective 0.5s ease;
}

h1,
h2 {
    letter-spacing: -0.025em;
    font-weight: 700;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
}

p,
ul,
a,
span {
    color: var(--secondary-text-color);
    font-family: "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, "Times New Roman", serif;
    letter-spacing: -0.01em;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 1.5rem;
}

a {
    color: var(--link-text-color);
}

main {
    position: relative;
    margin: 2rem 2rem;
    margin-top: 3rem;
    height: 100%;
}

img {
    width: auto;
    height: 200px;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

canvas {
    display: none;
}

header,
article {
    margin-bottom: 3rem;
}

footer {
    font-size: 0.75rem;
    margin-bottom: 4rem;
    padding: .5rem;
}

#projects ul li {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 32rem) {
    body {
        font-size: 1.5rem;
    }

    main {
        margin: 5rem;
        margin-top: 6rem;
        max-width: 32rem;
    }

    header,
    article {
        margin-bottom: 5rem;
    }

    footer {
        font-size: 1.0rem;
        margin-bottom: 5rem;
    }
}