<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="author" content="{{ author }}">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" media="all" href="styles/index.css" inline="inline">
  </head>
  <body>
    <main class="content wrapper flow">
      {% block content %}{% endblock %}
    </main>
    <!-- Javascript -->
  </body>
</html>