{% extends "layouts/base.njk" %}
{% block content %}
    <h1 class="popout title">Alex Blackwell</h1>
    <p>I graduated from Indiana University with a degree in Informatics and a minor in Human-centered computing.</p>

    <h2 class="popout">Experience</h2>
    <p>
        <strong>User Experience Designer for Mankins Research</strong>
    </p>
    <ul>
        <li>Conducted usability testing on website redesign to identify usability problems, collect qualitative data, and determine overall satisfaction with the redesign</li>
        <li>Led weekly design meetings with team to showcase progress</li>
        <li>Presented design walkthrough to board of investors</li>
    </ul>
    <h2 class="popout">Interests</h2>
    <p>
        <strong>Things I spend my time reading over and thinking about</strong>
    </p>
    <ul>
        <li>Accessibility</li>
        <li>UX design</li>
        <li>Data analytics</li>
        <li>Software architecture</li>
    </ul>
    <h2 class="popout">Projects</h2>
    <p>
        <strong>From work to personal and everything inbetween</strong>
    </p>
    <ul>
        <li>McKinney Family Foundation Website Redesign — Meeting scheduling and task tracking system that helps manage teams working on large projects online.</li>
        <li>Social Blog — Inspired by sites like DEV.to and Medium.</li>
        <li>Shindig — Meeting scheduling and task tracking system that helps manage teams working on large projects online.</li>
    </ul>
    <h2 class="popout">Contact</h2>
    <p class="footer">I'd be happy to write back if you'd like to send me an email. Otherwise you can follow me on Github or LinkedIn.</p>
{% endblock %}