---
title: Home
layout: 'base.njk'
---
<main id="main">

  <h1 class="medium">
    <span class="highlighted-text-primary">Hi, I'm Alex</span> 👋🏻</h1>

  <section class="medium home-content">
    <div class="intro">
      <p>I'm a multidisciplinary developer and designer, passionate about ethics and accessibility.</p>

    </div>

    <div>
      <p>I recently graduated from Indiana University with a degree in Informaticshave over 7 years of experience within full-stack development, user experience design and research.</p>
      <p>My favorite projects are those where I get to work at the intersection of different disciplines, and combine my design, development, and product management skills to solve complex problems - all while keeping a focus on accessibility, ethics and user experience.</p>
      <p>I'm currently working from Indy as an independent developer and designer. Available for freelance opportunities at <a href="mailto:alexvblackwell@gmail.com">alexvblackwell@gmail.com</a>.</p>

    </div>
  </section>
  <section>
    <h2 class="medium">Recommended posts</h2>
    <div class="medium">
      <ol class="postlist medium" style="counter-reset: start-from 3;">
        {%- for post in collections.featured | reverse -%}
          {% include "test-snippet.njk" %}
        {%- endfor -%}
      </ol>
      <style>
        .postlist .post-item {
          border-bottom: 2px solid var(--color-main-text-transparent);
          padding: 3rem 0 2rem;
        }
        .postlist .post-item:first-child {
          padding: 1.5rem 0 3rem;
        }
        .post-item {
          display: block;
          list-style-type: none;
        }
        .post-item p.title {
          margin-top: -.75rem;
          margin-bottom: 0.5rem;
        }
        .post-item p.title a {
          font-family: SpaceGroteskRegular,sans-serif;
          font-size: 2.25rem;
          background-color: transparent;
          line-height: 135%;
          text-decoration: underline;
          width: 75%;
          color: var(--color-main-text);
          background-image: none;
        }
        .post-item p.title a:hover {
          background-color: transparent;
          color: var(--color-main-text);
          text-decoration-color: transparent;
        }
        .post-item ul li {
          list-style-type: none;
          display: inline-block;
        }
        @media screen and (max-width:960px) {
          .post-item p.title a {
            font-size: 1.75rem;
          }
        }
      </style>
    </div>
  </section>
  <p class="medium archive">More posts can be found in 
  <a href="/blog" class="link-accent">the archive</a>.
</p>
</main>