---
title: About
layout: 'base.njk'
---
<main id="main">

  <h1 class="medium">
    <span class="highlighted-text-primary">Hi, I'm Alex</span></h1>

  <section class="medium home-content">
    <div class="intro">
      <p>I'm a multidisciplinary developer and designer, passionate about ethics and accessibility.</p>

    </div>

    <div>
      <p>I recently graduated from Indiana University with a B.S. degree in Informatics and a specialization in human-centered computing.</p>
      <p>My favorite projects are those where I get to work at the intersection of different disciplines, and combine my design, development, and product management skills to solve complex problems - all while keeping a focus on accessibility, ethics and user experience.</p>
      <p>I'm currently working from Indy as an independent developer and designer. Available for freelance opportunities at <a href="mailto:alexvblackwell@gmail.com">alexvblackwell@gmail.com</a>.</p>

    </div>
  </section>

  <section>
    <h2 class="medium">Featured Projects</h2>
    <div class="medium">
      <ol class="postlist medium">
        {%- for project in collections.featured | reverse -%}
          <li class="post-item">
            <p>
              <time class="postlist-date">
                {{ project.date | postDate }}
              </time>
            </p>
            <p class="title">
              <a href="{{ project.url }}" class="post-link">
                {{ project.data.title }}
              </a>
            </p>
            <p>
              {{ project.data.description }}
            </p>
            
            <button href="{{ project.url }}" class="button-74" role="button">Button 74</button>

          </li>
        {%- endfor -%}
      </ol>
    </div>
    <p class="medium archive">More posts can be found in <a href="/blog" class="link-accent">the archive</a>.</p>
  </section>

</main>