---
title: Projects
layout: 'base.njk'
---
<main id="main">
<section>
  <h1 class="medium"><span class="highlighted-text-primary">Projects</span></h1>
  <div class="medium">
    <ol class="postlist medium">
      {%- for project in collections.project %}
        {% include "project-snippet.njk" %}
      {%- endfor -%}
    </ol>
  </div>
</section>
</main>