---
title: Projects
layout: 'base.njk'
---

<div class="section container">
  <h1 class="section-title">Recent projects</h1>

  <ul role="list" class="articles__list flow">
    {%- for project in collections.project | reverse -%}
      {% include "project-snippet.njk" %}
    {%- endfor -%}
  </ul>
</div>