@font-face {
  font-family: SpaceGroteskRegular;
  font-display: swap;
  src: url(/styles/fonts/space/SpaceGrotesk-Regular.woff2) format("woff2"),
    url(/styles/fonts/space/SpaceGrotesk-Regular.ttf) format("ttf");
}
@font-face {
  font-family: SpaceGroteskMedium;
  font-display: swap;
  src: url(/styles/fonts/space/SpaceGrotesk-Medium.woff2) format("woff2"),
    url(/styles/fonts/space/SpaceGrotesk-Medium.ttf) format("ttf");
}
@font-face {
  font-family: SpaceGroteskBold;
  font-display: swap;
  src: url(/styles/fonts/space/SpaceGrotesk-Bold.woff2) format("woff2"),
    url(/styles/fonts/space/SpaceGrotesk-Bold.ttf) format("ttf");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/styles/fonts/roboto/roboto-v20-latin-regular.eot);
  src: local("Roboto"), local("Roboto-Regular"),
    url(/styles/fonts/roboto/roboto-v20-latin-regular.eot?#iefix)
      format("embedded-opentype"),
    url(/styles/fonts/roboto/roboto-v20-latin-regular.woff2) format("woff2"),
    url(/styles/fonts/roboto/roboto-v20-latin-regular.woff) format("woff"),
    url(/styles/fonts/roboto/roboto-v20-latin-regular.ttf) format("truetype"),
    url(/styles/fonts/roboto/roboto-v20-latin-regular.svg#Roboto) format("svg");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/styles/fonts/roboto/roboto-v20-latin-italic.eot);
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url(/styles/fonts/roboto/roboto-v20-latin-italic.eot?#iefix)
      format("embedded-opentype"),
    url(/styles/fonts/roboto/roboto-v20-latin-italic.woff2) format("woff2"),
    url(/styles/fonts/roboto/roboto-v20-latin-italic.woff) format("woff"),
    url(/styles/fonts/roboto/roboto-v20-latin-italic.ttf) format("truetype"),
    url(/styles/fonts/roboto/roboto-v20-latin-italic.svg#Roboto) format("svg");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/styles/fonts/roboto/roboto-v20-latin-700.eot);
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(/styles/fonts/roboto/roboto-v20-latin-700.eot?#iefix)
      format("embedded-opentype"),
    url(/styles/fonts/roboto/roboto-v20-latin-700.woff2) format("woff2"),
    url(/styles/fonts/roboto/roboto-v20-latin-700.woff) format("woff"),
    url(/styles/fonts/roboto/roboto-v20-latin-700.ttf) format("truetype"),
    url(/styles/fonts/roboto/roboto-v20-latin-700.svg#Roboto) format("svg");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/styles/fonts/roboto/roboto-v20-latin-700italic.eot);
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url(/styles/fonts/roboto/roboto-v20-latin-700italic.eot?#iefix)
      format("embedded-opentype"),
    url(/styles/fonts/roboto/roboto-v20-latin-700italic.woff2) format("woff2"),
    url(/styles/fonts/roboto/roboto-v20-latin-700italic.woff) format("woff"),
    url(/styles/fonts/roboto/roboto-v20-latin-700italic.ttf) format("truetype"),
    url(/styles/fonts/roboto/roboto-v20-latin-700italic.svg#Roboto)
      format("svg");
}
:root {
  --color-main-text: #3e3355;
  --color-main-text-transparent: rgba(62, 51, 85, 0.25);
  --color-main-bg: #fefdfc;
  --color-cta-text: #5b0505;
  --color-cta-bg: #ff9d7a;
  --color-brand-main: #f2edfc;
  --color-brand-outline: #e2d4ff;
  --color-selection-bg: #e2d4ff;
  --color-selection-text: #400456;
  --color-secondary-bg: #fff5d2;
  --color-secondary-text: #fde9a2;
  --color-tertiary: #ff9d7a;
  --color-accent: #ff8255;
  --color-transparent: rgba(255, 255, 255, 0);
  --color-patreon: #ff9d7a;
  --color-codepen: #ffde69;
  --color-devto: #a4e8a3;
  --color-twitter: #8ae6fb;
  --color-twitch: #e2d4ff;
  --color-linkedin: #a3cdff;
  --color-github: #ffaad3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 19px;
  background-color: var(--color-brand-main);
}
body {
  min-height: 100%;
  min-height: calc(100vh - 1rem);
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 1.4rem;
}
::selection {
  background-color: var(--color-selection-bg);
  color: var(--color-selection-text);
}
ol,
p,
ul {
  margin-bottom: 1.5rem;
  line-height: 140%;
  list-style-position: inside;
}
a {
  color: var(--color-main-text);
}
a:not(.cta):not(.link-accent):not(.nav-item):not(.post-link):not(.highlighted-text-secondary) {
  transition: text-decoration 0.35s;
  text-decoration-color: var(--color-main-text);
  text-decoration-thickness: 2.5px;
}
a:not(.cta):not(.link-accent):not(.nav-item):not(.post-link):not(.highlighted-text-secondary):hover {
  text-decoration-color: var(--color-tertiary);
}
h2,
h3,
h4 {
  font-family: SpaceGroteskMedium, sans-serif;
  font-weight: 400;
  position: relative;
}
h1 {
  font-family: SpaceGroteskMedium, sans-serif;
  font-size: 3.25rem;
  font-weight: 400;
  max-width: 100%;
  line-height: 130%;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
iframe {
  width: 100%;
}
.highlighted-text-primary {
  background-image: linear-gradient(
    transparent 60%,
    var(--color-selection-bg) 60%
  );
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.highlighted-text-secondary {
  background-image: linear-gradient(
    transparent 60%,
    var(--color-secondary-text) 60%
  );
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.main-header {
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  padding-top: 1rem;
}
.main-header h1 {
  font-family: SpaceGroteskBold, Roboto, sans-serif;
  line-height: 120%;
  font-size: 1.65rem;
}
.main-header h1 a {
  text-decoration: none;
  background-size: 80% 100%;
  transition: background 0.35s;
}
.main-header h1 a:hover {
  color: var(--color-main-text);
  background-color: transparent;
  background-size: 100% 100%;
}
header .nav {
  font-family: SpaceGroteskRegular, sans-serif;
  margin: 1.5rem auto;
  text-align: right;
}
header .nav li {
  display: inline-block;
  margin-right: 4rem;
  font-size: 1.25rem;
}
header .nav li:last-child {
  margin-right: 0;
}
header .nav li a {
  background-color: transparent;
  color: var(--color-main-text);
  text-decoration: none;
  padding-bottom: 0.25rem;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0;
  transition: padding 0.35s, top 0.35s;
  position: relative;
  top: 0;
  background-image: none;
}
header .nav li a:hover {
  background-color: transparent;
  color: var(--color-main-text);
  text-decoration: underline;
}
#main {
  margin-top: 10rem;
}
.medium {
  width: 40rem;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.large {
  width: 70rem;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.highlighted {
  display: block;
  max-width: 90vw;
  margin: 0 auto 4rem auto;
  font-size: 1.65rem;
  padding: 2rem;
  border: 3px solid var(--color-tertiary);
  
  background-size: 5px 5px;
}
.highlighted > div {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-main-bg);
  padding: 4rem;
  border-radius: 3px;
}

.social {
  border-top: 3px solid var(--color-main-text);
  border-bottom: 3px solid var(--color-main-text);
  padding: 0.5rem 1rem 0 1rem;
}
.social ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 0.5rem;
}
.social ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: SpaceGroteskRegular, Roboto, sans-serif;
  font-weight: 700;
  transition: background 0.35s !important;
  background-size: 60% 100%;
}
.social ul li a:hover {
  background-size: 100% 100%;
}

.credits {
  background-color: var(--color-main-text);
  color: var(--color-main-bg);
  padding: 0.5rem 1rem 0.65rem 1rem;
  text-align: center;
  font-size: 1rem;
}
.credits p {
  margin-bottom: 0;
}
.credits p a {
  color: var(--color-main-bg);
  text-decoration-color: var(--color-main-bg) !important;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px !important;
}
.credits p a:hover {
  color: var(--color-main-bg);
  text-decoration-style: solid;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 18.5px;
  }
  .they,
  footer .about div h2 {
    font-size: 2rem;
  }
  footer .about button,
  footer .about p {
    font-size: 1rem;
  }
  .social ul {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5rem;
  }
  .social ul li {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 18px;
  }
  footer .about {
    grid-template-columns: 1fr;
  }
  footer .about > * {
    text-align: center;
    margin-bottom: 2rem;
  }
  footer .about div h2 {
    margin: 0 auto;
  }
  footer .about button {
    margin: 0 auto;
  }
  footer .about .descr {
    text-align: center;
  }
  footer .about .descr p,
  footer .about .pronouns p {
    font-size: 1.25rem;
    padding-left: 0;
    width: 20rem;
    max-width: 90vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 16px;
  }
  body {
    margin: 0;
    border: none;
    border-radius: 0;
  }
  .main-header {
    align-items: baseline;
    margin-top: 0;
  }
  header .nav li {
    display: block;
    margin-bottom: 0.75rem;
    margin-right: 0;
  }
  header .nav li a:hover {
    text-decoration: underline;
    padding-bottom: 0.25rem;
    border-image: linear-gradient(90deg, transparent, transparent) 1;
    top: 0;
  }
  #main {
    margin-top: 5rem;
  }
  .forhire {
    position: static;
    margin-top: 0;
  }
  .highlighted {
    padding: 0.75rem;
    font-size: 1.25rem;
  }
  .highlighted > div {
    padding: 1.25rem;
  }
  .social ul li {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  .main-header {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition: none;
    transition-duration: 0s !important;
  }
}
.cta {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 1rem 0.5rem 0 0;
  font-size: 1rem;
  font-family: SpaceGroteskRegular, sans-serif;
  line-height: 130%;
  background-color: var(--color-cta-bg);
  border: 2px solid var(--color-cta-text);
  color: var(--color-cta-text);
  border-radius: 1rem;
  text-decoration: none;
  position: relative;
  top: 0;
  transition: 0.35s;
}
:root[user-color-mode="night"] .cta {
  --color-cta-bg: #ff9bc5 !important;
  --color-cta-text: #731f2e !important;
}
.cta:before {
  content: "#";
  margin-right: 0.25rem;
}
.cta.external:before {
  content: "↗";
  margin-right: 0.25rem;
  margin-left: 0.15rem;
}
.cta:hover {
  top: 0.25rem;
  box-shadow: 0 -1px 0 var(--color-cta-text),
    0 -3px 0 -1px var(--color-cta-text), 0 -5px 0 -2px var(--color-cta-text),
    0 -7px 0 -3px var(--color-cta-text), 0 -9px 0 -5px var(--color-cta-text),
    0 -11px 0 -6px var(--color-cta-text);
}
.cta.external:hover {
  top: -0.25rem;
  box-shadow: 0 1px 0 var(--color-cta-text), 0 3px 0 -1px var(--color-cta-text),
    0 5px 0 -2px var(--color-cta-text), 0 7px 0 -3px var(--color-cta-text),
    0 9px 0 -5px var(--color-cta-text), 0 11px 0 -6px var(--color-cta-text);
}
a.link-accent {
  text-decoration: none;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 3px;
  border-image: linear-gradient(
      90deg,
      var(---color-main-text),
      var(--color-main-text)
    )
    1;
  position: relative;
  top: 0;
  transition: 0.35s;
}
a.link-accent:hover {
  background-color: transparent;
  color: var(--color-main-text);
  top: -0.8rem;
  padding-bottom: 0.3rem;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 3px;
  border-image: var(--accent-border) 1;
}
