<section id="information">
    <header>
        <h1>Alexander Vaughn Blackwell</h1>
        <p>Tech Generalist</p>
    </header>
    <article>
        <h2>About</h2>
        <p>I'm a multidisciplinary designer / developer, passionate about ethics and accessibility.</p>
        <p>I recently graduated from Indiana University with a degree in Informatics and a minor in Human-centered computing.</p>
    </article>
    <article>
        <h2>Work</h2>
        <p>I'm currently helping small businesses as a freelance designer / developer.</p>
        <p>My favorite projects are those where I get to work at the intersection of different disciplines, and combine my design, development, and product management skills to solve complex problems - all while keeping a focus on accessibility, ethics and user experience.</p>
        <p>For more details you can find the latest version of
            <a
                href="/"
                target="_blank">my resume here</a>.</p>
    </article>
    <article>
        <h2>Interests</h2>
        <p>Things I spend my time reading over, tinkering with and learning about.</p>
        <ul>
            <li>Open-Source Technologies</li>
            <li>UX Design</li>
            <li>Accessibility</li>
            <li>Front-end Development</li>
        </ul>
    </article>
    <article id="projects">
        <h2>Projects</h2>
        <p>A few ideas that I've gone ahead and built in my spare time.</p>
        <ul>
            <li>
                <a href="https://github.com/avblackwell/social-blog" target="_blank">Social Blog</a>
                — Inspired by sites like DEV.to and Medium.</li>
            <li>
                <a href="https://zion.luddy.indiana.edu/info-capstone-2021/shindig" target="_blank">Shindig</a>
                — a meeting scheduling and task tracking system that helps manage teams working on large projects online.</li>
        </ul>
    </article>
    <article>
        <h2>Contact</h2>
        <p>I'd be happy to write back if you'd like to send me an
            <a href="mailto:alexvblackwell@gmail.com" target="_blank">email</a>. Otherwise you can follow me on
            <a href="https://twitter.com/alexvblackwell/" target="_blank">Twitter</a>,
            <a href="https://github.com/avblackwell/" target="_blank">Github</a>
            or
            <a href="https://linkedin.com/in/avblackwell/" target="_blank">LinkedIn</a>.</p>
    </article>
    <footer>
        <p>The information on this web page was last updated May 14, 2022.</span>
    </footer>
</section>