<section id="information">
    <header>
        <img src="../../static/images/banjo.png" alt="" class="rotate">
        <h1>Alexander Vaughn Blackwell</h1>
        <p>Web Developer</p>
    </header>
    <article>
        <h2>About</h2>
        <p>I graduated from Indiana University with a degree in Informatics and a minor in Human-centered computing.</p>
    </article>
    <article>
        <h2>Experience</h2>

        <p>User Experience Designer for Mankins Research</p>
        <ul>
            <li>Conducted usability testing on website redesign to identify usability problems, collect qualitative data, and determine overall satisfaction with the redesign</li>
            <li>Lead weekly design meetings with team to showcase progress</li>
            <li>Presented design walkthrough to board of investors</li>
        </ul>
    </article>
    <article>
        <h2>Interests</h2>
        <p>Things I spend my time reading over and learning about.</p>
        <ul>
            <li>Open-Source Technologies</li>
            <li>UX Design</li>
            <li>Accessibility</li>
            <li>Front-end Development</li>
        </ul>
    </article>
    <article id="projects">
        <h2>Projects</h2>
        <ul>
            <li>
                <a href="https://github.com/avblackwell/social-blog" target="_blank">Social Blog</a>
                — Inspired by sites like DEV.to and Medium.</li>
            <li>
                <a href="https://zion.luddy.indiana.edu/info-capstone-2021/shindig" target="_blank">Shindig</a>
                — Meeting scheduling and task tracking system that helps manage teams working on large projects online.</li>
        </ul>
    </article>
    <article>
        <h2>Contact</h2>
        <p>I'd be happy to write back if you'd like to send me an
            <a href="mailto:alexvblackwell@gmail.com" target="_blank">email</a>. Otherwise you can follow me on
            <a href="https://github.com/avblackwell/" target="_blank">Github</a>
            or
            <a href="https://linkedin.com/in/avblackwell/" target="_blank">LinkedIn</a>.</p>
    </article>
    <footer>
    </footer>
</section>